<h1>Nuestros restaurantes</h1>

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %> <small><%= "â­" * restaurant.rating %></small></h2>
<% end %>
